

#logo-img {
    width: 100px;
}


.logo-container {
    display: flex;
    gap: 30px;
    align-items: center;    
    width: fit-content;

}

input, textarea {
    padding-left: 10px !important;
}

#header h1 {
    font-size: x-large;
}


#banner h2 {
    margin-top: 50px;
}

#banner > div.browser-mockup > img {
    width: 100%;
}


#header {
    background-color: rgb(24, 26, 27) !important;
}


#header a {
    color: #cfd0d3 !important;
}


.learn-more-button {
    background-color: #00b47b;
}


.footer-container {
    padding-top: 120px;
    background: linear-gradient(135deg, #2c3e50, #34495e);
}






.copyright {

    padding: 20px 0 !important;
    margin: 0 !important;
    color: white !important;
}

.collage-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.collage-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px 0;
}


.work-image {
    width: 18vw;


}


.section-title {
    margin-top: 40px;
    text-align: center;
    padding: 0 !important;
    margin-bottom: 0;
    font-size: xx-large;
}



.products-title {
    margin-top: 0;
    margin-bottom: 30px;

}

.products-section {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


body > section.products-section > ul {
    margin-top: 30px;
}



.products-list {
    padding: 0 50px;
}



#products-row1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.products-image {
    width: 30vw;
    
}

.category {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}


.products-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}




.category {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    font-size: x-large;
    font-weight: 500;
}






.about-title, .section-title, .products-title {
    color: white;
    background-color: #4fcd8e;
    padding: 25px 0 !important;
    margin-bottom: 30px;
}



.about-section {
    background-color: white;
    color: #4b505c;
}



.about-container {
    padding: 20px 200px;
}