

#logo-img {
    width: 100px;
}


.logo-container {
    display: flex;
    gap: 30px;
    align-items: center;    
    width: fit-content;

}

input, textarea {
    padding-left: 10px !important;
}

#header h1 {
    font-size: x-large;
}


#banner h2 {
    margin-top: 50px;
}

#banner > div.browser-mockup > img {
    width: 100%;
}


#header {
    background-color: rgb(24, 26, 27) !important;
}


#header a {
    color: #cfd0d3 !important;
}

.footer-container {
    padding-top: 120px;
}


.copyright {
    padding-bottom: 40px !important;
    margin-bottom: 0 !important;
}