
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: #4fcd8e;
    color: white;
    padding-bottom: 0 !important;
}


.dropdown-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
}

#main-header {
    margin-top: 180px !important;
}

h2 {
    color: white;
}

p {
    margin: 0;
}

.dropdown {
    margin-top: 20px;
    padding: 10px 10px 10px 20px;
    width: 70%;
    background-color: #515663;
}


.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.active-header {
    margin-bottom: 20px;
}


table, tr {
    border: 2px solid white;
}

a {
    color: white;
}



@media only screen and (max-width: 500px) {
    .dropdown {
        width: 90%;
    }
}

.footer-container {
    padding-top: 120px;
    background-color: #3d424f;
}